!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

bind-address = 0.0.0.0

[mysqld]
ndbcluster
ndb-connectstring={{ hostvars['mysql-db01']['ansible_default_ipv4']['address'] }}
user=mysql

[mysql_cluster]
ndb-connectstring={{ hostvars['mysql-db01']['ansible_default_ipv4']['address'] }}

[mysqld_safe]
log-error=/var/mysql/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid