!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[mysqld]
ndbcluster
ndb-connectstring={{ hostvars['mysql-db01']['ansible_default_ipv4']['address'] }}
user=mysql

[mysql_cluster]
ndb-connectstring={{ hostvars['mysql-db01']['ansible_default_ipv4']['address'] }}