[ndbd default]
NoOfReplicas=2
datadir={{ mysql_data }}

[ndb_mgmd]
NodeId=1
hostname={{ hostvars['mysql-db01']['ansible_default_ipv4']['address'] }}
datadir={{ mysql_data }}

[ndbd]
NodeId=2
hostname={{ hostvars['mysql-db01']['ansible_default_ipv4']['address'] }}

[ndbd]
NodeId=3
hostname={{ hostvars['mysql-db02']['ansible_default_ipv4']['address'] }}

[mysqld]
NodeId=4
hostname={{ hostvars['mysql-db01']['ansible_default_ipv4']['address'] }}

[mysqld]
NodeId=5
hostname={{ hostvars['mysql-db02']['ansible_default_ipv4']['address'] }}

[MYSQLD]
NodeId=6